.rake_test_cache
Berksfile.lock
Gemfile.lock
.kitchen/
.kitchen.local.yml
crash.log
berks-cookbooks/
variables.json
pkg/
/.config
/coverage/
/test/tmp/
/tmp/
.repl_history
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
Berksfile.lock
Gemfile.lock
.ruby-version
.ruby-gemset
.rvmrc
*.log
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
